In [1]:
import pandas as pd
import numpy as np
import pyarrow as prr

/Users/ahmedabukar/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [17]:
df = pd.read_csv("/Users/ahmedabukar/Downloads/IEA-EV-dataEV salesHistoricalCars.csv", engine="pyarrow")

In [18]:
df.loc[df["parameter"].isin(["EV sales", "EV stock"])]

,region,category,parameter,mode,powertrain,year,unit,value
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.0
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.0
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.0
5,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,170.0
8,Australia,Historical,EV stock,Cars,PHEV,2012,Vehicles,80.0
...,...,...,...,...,...,...,...,...
3793,World,Historical,EV stock,Cars,BEV,2023,Vehicles,28000000.0
3794,World,Historical,EV sales,Cars,BEV,2023,Vehicles,9500000.0
3795,World,Historical,EV stock,Cars,FCEV,2023,Vehicles,66000.0
3796,World,Historical,EV sales,Cars,PHEV,2023,Vehicles,4300000.0
3797,World,Historical,EV stock,Cars,PHEV,2023,Vehicles,12000000.0

In [19]:
df = df.drop(df[df["region"] == "World"].index)

In [22]:
df = df.drop(df.loc[~df["parameter"].isin(["EV sales", "EV stock"])].index)

In [23]:
df["parameter"].value_counts()

parameter
EV sales    1300
EV stock    1103
Name: count, dtype: int64

In [24]:
df

,region,category,parameter,mode,powertrain,year,unit,value
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.0
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.0
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.0
5,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,170.0
8,Australia,Historical,EV stock,Cars,PHEV,2012,Vehicles,80.0
...,...,...,...,...,...,...,...,...
3638,USA,Historical,EV stock,Cars,PHEV,2023,Vehicles,1300000.0
3640,USA,Historical,EV stock,Cars,FCEV,2023,Vehicles,18000.0
3641,USA,Historical,EV sales,Cars,FCEV,2023,Vehicles,3000.0
3642,USA,Historical,EV stock,Cars,BEV,2023,Vehicles,3500000.0
3643,USA,Historical,EV sales,Cars,BEV,2023,Vehicles,1100000.0

In [33]:
df["powertrain"].value_counts(normalize=True) * 100

powertrain
BEV     43.695381
PHEV    37.203496
FCEV    19.101124
Name: proportion, dtype: float64

In [39]:
#On which years are our sales the lowest?
df.groupby("year")["value"].sum()

year
2010       42128.0
2011      165601.0
2012      428600.0
2013      876440.0
2014     1512440.4
2015     2737262.0
2016     4031694.0
2017     6212047.0
2018     9699405.0
2019    13117981.0
2020    20710035.0
2021    36317395.0
2022    54625712.0
2023    78494464.0
Name: value, dtype: float64