In [1]:
import pandas as pd 
import numpy as np 
import pyarrow as pyrr

In [2]:
df = (pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/olympic_athlete_events.csv", 
                usecols=["Age", "Height", "Team", "Year", "Season", "Sport", "Medal"]))

df

         Age  Height            Team  Year  Season          Sport Medal
0       24.0   180.0           China  1992  Summer     Basketball   NaN
1       23.0   170.0           China  2012  Summer           Judo   NaN
2       24.0     NaN         Denmark  1920  Summer       Football   NaN
3       34.0     NaN  Denmark/Sweden  1900  Summer     Tug-Of-War  Gold
4       21.0   185.0     Netherlands  1988  Winter  Speed Skating   NaN
...      ...     ...             ...   ...     ...            ...   ...
271111  29.0   179.0        Poland-1  1976  Winter           Luge   NaN
271112  27.0   176.0          Poland  2014  Winter    Ski Jumping   NaN
271113  27.0   176.0          Poland  2014  Winter    Ski Jumping   NaN
271114  30.0   185.0          Poland  1998  Winter      Bobsleigh   NaN
271115  34.0   185.0          Poland  2002  Winter      Bobsleigh   NaN

[271116 rows x 7 columns]

In [3]:
#only include games from 1980? 
df = df.loc[(df["Year"] >= 1980) & (df["Team"].isin(["Great Britain", "France", "United States", "Switzerland", "China", "Inida"]))]

In [4]:
df

         Age  Height           Team  Year  Season                 Sport Medal
0       24.0   180.0          China  1992  Summer            Basketball   NaN
1       23.0   170.0          China  2012  Summer                  Judo   NaN
10      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
11      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
12      31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
...      ...     ...            ...   ...     ...                   ...   ...
270996  24.0   186.0    Switzerland  2002  Winter              Biathlon   NaN
270997  24.0   186.0    Switzerland  2002  Winter              Biathlon   NaN
271021  26.0   175.0    Switzerland  1984  Summer               Sailing   NaN
271036  22.0   183.0         France  1998  Winter            Ice Hockey   NaN
271037  26.0   183.0         France  2002  Winter            Ice Hockey   NaN

[27134 rows x 7 columns]

In [5]:
df.dtypes

Age       float64
Height    float64
Team       object
Year        int64
Season     object
Sport      object
Medal      object
dtype: object

In [6]:
#what was the average age of olympic athletes? 
#in which country do players appear to consistently be youngest? ... China
df.pivot_table(index="Year", columns="Team", values="Age")

Team      China     France  Great Britain  Switzerland  United States
Year
1980  21.868421  23.524590      22.882507    24.557823      22.770992
1984  22.076336  24.369830      24.445423    23.589744      24.437118
1988  22.358447  24.520076      25.439560    26.218868      24.904977
1992  21.955752  25.140187      25.584055    25.413194      25.474866
1994  20.627907  24.601307      25.282051    25.500000      24.976744
1996  22.021531  25.296629      26.746032    27.122093      26.273277
1998  21.784091  25.462069      27.243902    25.641509      25.146154
2000  22.515306  25.982833      26.406948    27.376812      26.576203
2002  23.127451  25.737805      26.833333    26.238710      25.726316
2004  23.006122  26.139073      26.303977    27.343284      26.439093
2006  23.457143  26.303226      26.851852    26.284848      25.637288
2008  23.903955  26.285714      25.200969    27.312500      26.225806
2010  23.239669  25.911458      26.147059    26.548387      25.841584
2012  23.894168  26.606635      25.922619    27.172131      26.461883
2014  23.400000  25.708995      25.628571    25.855814      26.189189
2016  23.873706  27.095238      26.653191    25.891892      26.217454

In [7]:
#how tall were the tallest athletes in each year in each sport? 
df.pivot_table(index="Sport", columns="Year", values="Height", aggfunc="max")

Year,1980,1984,1988,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
Sport,,,,,,,,,,,,,,,,
Alpine Skiing,184.0,184.0,185.0,185.0,188.0,NaN,188.0,NaN,189.0,NaN,193.0,NaN,193.0,NaN,200.0,NaN
Archery,185.0,188.0,188.0,191.0,NaN,191.0,NaN,191.0,NaN,193.0,NaN,193.0,NaN,193.0,NaN,188.0
Athletics,197.0,203.0,203.0,200.0,NaN,198.0,NaN,197.0,NaN,203.0,NaN,203.0,NaN,208.0,NaN,203.0
Badminton,NaN,NaN,NaN,186.0,NaN,189.0,NaN,187.0,NaN,190.0,NaN,190.0,NaN,191.0,NaN,191.0
Baseball,NaN,NaN,NaN,198.0,NaN,195.0,NaN,206.0,NaN,NaN,NaN,198.0,NaN,NaN,NaN,NaN
Basketball,NaN,216.0,216.0,216.0,NaN,216.0,NaN,226.0,NaN,226.0,NaN,226.0,NaN,221.0,NaN,218.0
Beach Volleyball,NaN,NaN,NaN,NaN,NaN,193.0,NaN,195.0,NaN,192.0,NaN,202.0,NaN,202.0,NaN,188.0
Biathlon,190.0,190.0,188.0,192.0,192.0,NaN,192.0,NaN,192.0,NaN,193.0,NaN,193.0,NaN,193.0,NaN
Bobsleigh,NaN,184.0,NaN,NaN,NaN,NaN,198.0,NaN,190.0,NaN,193.0,NaN,191.0,NaN,189.0,NaN
Boxing,190.0,195.0,196.0,193.0,NaN,191.0,NaN,198.0,NaN,190.0,NaN,203.0,NaN,201.0,NaN,200.0
Canoeing,203.0,203.0,203.0,203.0,NaN,205.0,NaN,203.0,NaN,190.0,NaN,200.0,NaN,194.0,NaN,191.0
Cross Country Skiing,185.0,189.0,186.0,190.0,190.0,NaN,185.0,NaN,188.0,NaN,188.0,NaN,193.0,NaN,193.0,NaN
Curling,NaN,NaN,NaN,NaN,NaN,NaN,188.0,NaN,193.0,NaN,183.0,NaN,189.0,NaN,192.0,NaN
Cycling,190.0,190.0,195.0,192.0,NaN,189.0,NaN,192.0,NaN,192.0,NaN,196.0,NaN,198.0,NaN,196.0
Diving,176.0,175.0,178.0,183.0,NaN,183.0,NaN,183.0,NaN,182.0,NaN,185.0,NaN,178.0,NaN,188.0
Equestrianism,NaN,187.0,187.0,184.0,NaN,196.0,NaN,187.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,196.0
Fencing,193.0,208.0,208.0,193.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,197.0,NaN,197.0
Figure Skating,183.0,182.0,180.0,182.0,182.0,NaN,182.0,NaN,183.0,NaN,188.0,NaN,188.0,NaN,193.0,NaN
Football,NaN,188.0,190.0,193.0,NaN,191.0,NaN,193.0,NaN,180.0,NaN,193.0,NaN,195.0,NaN,188.0
Freestyle Skiing,NaN,NaN,NaN,190.0,186.0,NaN,193.0,NaN,193.0,NaN,183.0,NaN,193.0,NaN,188.0,NaN
Golf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.0
Gymnastics,180.0,179.0,181.0,178.0,NaN,180.0,NaN,175.0,NaN,176.0,NaN,184.0,NaN,184.0,NaN,184.0
Handball,197.0,200.0,200.0,198.0,NaN,203.0,NaN,199.0,NaN,199.0,NaN,201.0,NaN,204.0,NaN,202.0
Hockey,NaN,190.0,189.0,193.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,189.0,NaN,189.0,NaN,192.0
Ice Hockey,193.0,193.0,195.0,194.0,195.0,NaN,195.0,NaN,190.0,NaN,195.0,NaN,196.0,NaN,198.0,NaN
Judo,196.0,204.0,204.0,196.0,NaN,205.0,NaN,202.0,NaN,202.0,NaN,203.0,NaN,203.0,NaN,203.0
Luge,188.0,188.0,183.0,188.0,188.0,NaN,188.0,NaN,185.0,NaN,188.0,NaN,188.0,NaN,188.0,NaN
Modern Pentathlon,185.0,188.0,190.0,190.0,NaN,185.0,NaN,186.0,NaN,191.0,NaN,188.0,NaN,188.0,NaN,194.0
Nordic Combined,193.0,183.0,193.0,183.0,180.0,NaN,181.0,NaN,183.0,NaN,183.0,NaN,190.0,NaN,190.0,NaN
Rhythmic Gymnastics,NaN,172.0,170.0,172.0,NaN,172.0,NaN,173.0,NaN,178.0,NaN,177.0,NaN,173.0,NaN,177.0
Rowing,198.0,205.0,205.0,205.0,NaN,205.0,NaN,204.0,NaN,207.0,NaN,207.0,NaN,206.0,NaN,207.0
Rugby Sevens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0
Sailing,186.0,198.0,198.0,195.0,NaN,203.0,NaN,201.0,NaN,198.0,NaN,194.0,NaN,195.0,NaN,197.0
Shooting,NaN,189.0,190.0,190.0,NaN,195.0,NaN,188.0,NaN,188.0,NaN,191.0,NaN,198.0,NaN,189.0
Short Track Speed Skating,NaN,NaN,NaN,182.0,183.0,NaN,183.0,NaN,188.0,NaN,186.0,NaN,186.0,NaN,189.0,NaN
Skeleton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.0,NaN,185.0,NaN,185.0,NaN,190.0,NaN
Ski Jumping,185.0,180.0,185.0,190.0,185.0,NaN,185.0,NaN,185.0,NaN,190.0,NaN,190.0,NaN,190.0,NaN
Snowboarding,NaN,NaN,NaN,NaN,NaN,NaN,190.0,NaN,190.0,NaN,186.0,NaN,190.0,NaN,188.0,NaN
Softball,NaN,NaN,NaN,NaN,NaN,182.0,NaN,185.0,NaN,188.0,NaN,191.0,NaN,NaN,NaN,NaN
Speed Skating,185.0,190.0,193.0,193.0,186.0,NaN,186.0,NaN,193.0,NaN,188.0,NaN,203.0,NaN,193.0,NaN
Swimming,194.0,200.0,200.0,201.0,NaN,201.0,NaN,201.0,NaN,202.0,NaN,203.0,NaN,203.0,NaN,206.0
Synchronized Swimming,NaN,178.0,180.0,180.0,NaN,181.0,NaN,181.0,NaN,177.0,NaN,175.0,NaN,178.0,NaN,177.0
Table Tennis,NaN,NaN,185.0,193.0,NaN,193.0,NaN,178.0,NaN,193.0,NaN,192.0,NaN,188.0,NaN,186.0
Taekwondo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0,NaN,198.0,NaN,201.0,NaN,201.0,NaN,197.0
Tennis,NaN,NaN,191.0,200.0,NaN,200.0,NaN,198.0,NaN,188.0,NaN,198.0,NaN,206.0,NaN,196.0
Trampolining,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175.0,NaN,172.0,NaN,179.0,NaN,179.0,NaN,178.0
Triathlon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0,NaN,191.0,NaN,196.0,NaN,191.0,NaN,191.0
Volleyball,NaN,203.0,203.0,202.0,NaN,203.0,NaN,204.0,NaN,209.0,NaN,210.0,NaN,206.0,NaN,209.0
Water Polo,NaN,198.0,205.0,205.0,NaN,200.0,NaN,200.0,NaN,203.0,NaN,201.0,NaN,203.0,NaN,206.0
Weightlifting,180.0,188.0,190.0,190.0,NaN,195.0,NaN,182.0,NaN,180.0,NaN,177.0,NaN,189.0,NaN,187.0
Wrestling,205.0,190.0,193.0,193.0,NaN,194.0,NaN,196.0,NaN,188.0,NaN,203.0,NaN,203.0,NaN,188.0

In [8]:
#how many medals did each country earn in each year? 
pd.pivot_table(df.dropna(subset="Medal"), index="Year", columns="Team", values="Medal", aggfunc="count")

Team  China  France  Great Britain  Switzerland  United States
Year
1980    NaN    30.0           48.0          5.0           30.0
1984   74.0    70.0           71.0         17.0          359.0
1988   50.0    31.0           54.0         24.0          212.0
1992   73.0    65.0           50.0          2.0          236.0
1994    3.0    11.0            3.0          8.0           19.0
1996   94.0    49.0           26.0         11.0          255.0
1998   14.0    13.0            4.0         10.0           30.0
2000   65.0    64.0           52.0         14.0          240.0
2002   14.0    13.0            6.0         20.0           70.0
2004   82.0    53.0           55.0          5.0          259.0
2006    9.0    15.0            1.0         15.0           48.0
2008  170.0    77.0           81.0         11.0          309.0
2010   15.0    14.0            1.0         12.0           89.0
2012  117.0    78.0          122.0          4.0          238.0
2014   12.0    18.0           10.0         28.0           52.0
2016  109.0    96.0          145.0         11.0          256.0

In [18]:
#create a pivot table that shows the number of medal that each team won per year
#with the index including the year and the season?
df.pivot_table(index=["Year", "Season"], columns="Team", values="Medal", aggfunc=np.size)

Team         China  France  Great Britain  Switzerland  United States
Year Season
1980 Summer    NaN   200.0          328.0         86.0            NaN
     Winter   38.0    44.0           56.0         61.0          131.0
1984 Summer  323.0   354.0          509.0        245.0          693.0
     Winter   70.0    57.0           60.0         67.0          128.0
1988 Summer  423.0   413.0          468.0        151.0          715.0
     Winter   15.0   111.0           79.0        114.0          171.0
1992 Summer  378.0   476.0          500.0        171.0          728.0
     Winter   74.0   166.0           78.0        117.0          208.0
1994 Winter   43.0   153.0           39.0         94.0          215.0
1996 Summer  418.0   445.0          379.0        172.0          827.0
1998 Winter   88.0   145.0           41.0        106.0          260.0
2000 Summer  392.0   466.0          403.0        138.0          748.0
2002 Winter  102.0   164.0           54.0        155.0          285.0
2004 Summer  490.0   453.0          352.0        134.0          706.0
2006 Winter  140.0   155.0           54.0        165.0          295.0
2008 Summer  708.0   441.0          413.0        112.0          744.0
2010 Winter  121.0   192.0           68.0        186.0          303.0
2012 Summer  463.0   422.0          672.0        122.0          669.0
2014 Winter  105.0   189.0           70.0        215.0          333.0
2016 Summer  483.0   504.0          470.0        148.0          699.0

In [22]:
#create pivot table that shows the both the average age and height per year per team?
df.pivot_table(index="Year", columns="Team", values=["Age", "Height"], aggfunc="max")

       Age                                                Height         \
Team China France Great Britain Switzerland United States  China France
Year
1980  32.0   34.0          37.0        47.0          32.0  170.0  203.0
1984  30.0   50.0          47.0        52.0          49.0  216.0  214.0
1988  34.0   43.0          55.0        47.0          52.0  210.0  203.0
1992  35.0   47.0          48.0        53.0          54.0  215.0  203.0
1994  29.0   33.0          36.0        35.0          36.0  181.0  195.0
1996  39.0   53.0          48.0        49.0          50.0  215.0  201.0
1998  29.0   34.0          36.0        37.0          40.0  185.0  198.0
2000  39.0   46.0          52.0        53.0          46.0  226.0  218.0
2002  30.0   38.0          40.0        36.0          48.0  188.0  190.0
2004  43.0   50.0          48.0        55.0          52.0  226.0  202.0
2006  32.0   38.0          40.0        42.0          44.0  188.0  190.0
2008  45.0   51.0          53.0        45.0          58.0  226.0  203.0
2010  34.0   38.0          45.0        41.0          40.0  194.0  191.0
2012  41.0   49.0          56.0        49.0          54.0  221.0  208.0
2014  32.0   37.0          41.0        42.0          45.0  193.0  191.0
2016  38.0   53.0          60.0        50.0          52.0  218.0  215.0


Team Great Britain Switzerland United States
Year
1980         205.0       197.0         193.0
1984         203.0       204.0         213.0
1988         205.0       204.0         216.0
1992         205.0       200.0         216.0
1994         185.0       192.0         193.0
1996         205.0       200.0         216.0
1998         185.0       192.0         195.0
2000         204.0       197.0         207.0
2002         193.0       192.0         193.0
2004         207.0       197.0         213.0
2006         193.0       193.0         195.0
2008         207.0       197.0         211.0
2010         193.0       203.0         193.0
2012         211.0       198.0         216.0
2014         193.0       200.0         196.0
2016         207.0       194.0         211.0

In [21]:
#create a pivot table that shows the average age and the average height per year,
#per team, broken up by year and season
df.pivot_table(index=["Year", "Season"], columns="Team", values=["Age", "Height"], aggfunc="max")

              Age                                                Height  \
Team        China France Great Britain Switzerland United States  China
Year Season
1980 Summer   NaN   34.0          37.0        47.0           NaN    NaN
     Winter  32.0   29.0          36.0        33.0          32.0  170.0
1984 Summer  30.0   50.0          47.0        52.0          49.0  216.0
     Winter  28.0   36.0          34.0        30.0          34.0  176.0
1988 Summer  34.0   43.0          55.0        47.0          52.0  210.0
     Winter  24.0   39.0          29.0        34.0          39.0  181.0
1992 Summer  35.0   47.0          48.0        53.0          54.0  215.0
     Winter  29.0   32.0          30.0        32.0          36.0  181.0
1994 Winter  29.0   33.0          36.0        35.0          36.0  181.0
1996 Summer  39.0   53.0          48.0        49.0          50.0  215.0
1998 Winter  29.0   34.0          36.0        37.0          40.0  185.0
2000 Summer  39.0   46.0          52.0        53.0          46.0  226.0
2002 Winter  30.0   38.0          40.0        36.0          48.0  188.0
2004 Summer  43.0   50.0          48.0        55.0          52.0  226.0
2006 Winter  32.0   38.0          40.0        42.0          44.0  188.0
2008 Summer  45.0   51.0          53.0        45.0          58.0  226.0
2010 Winter  34.0   38.0          45.0        41.0          40.0  194.0
2012 Summer  41.0   49.0          56.0        49.0          54.0  221.0
2014 Winter  32.0   37.0          41.0        42.0          45.0  193.0
2016 Summer  38.0   53.0          60.0        50.0          52.0  218.0


Team        France Great Britain Switzerland United States
Year Season
1980 Summer  203.0         205.0       197.0           NaN
     Winter  185.0         183.0       186.0         193.0
1984 Summer  214.0         203.0       204.0         213.0
     Winter  185.0         189.0       184.0         193.0
1988 Summer  203.0         205.0       204.0         216.0
     Winter  195.0         186.0       189.0         193.0
1992 Summer  203.0         205.0       200.0         216.0
     Winter  194.0         184.0       192.0         193.0
1994 Winter  195.0         185.0       192.0         193.0
1996 Summer  201.0         205.0       200.0         216.0
1998 Winter  198.0         185.0       192.0         195.0
2000 Summer  218.0         204.0       197.0         207.0
2002 Winter  190.0         193.0       192.0         193.0
2004 Summer  202.0         207.0       197.0         213.0
2006 Winter  190.0         193.0       193.0         195.0
2008 Summer  203.0         207.0       197.0         211.0
2010 Winter  191.0         193.0       203.0         193.0
2012 Summer  208.0         211.0       198.0         216.0
2014 Winter  191.0         193.0       200.0         196.0
2016 Summer  215.0         207.0       194.0         211.0